
.container{
  background-image: url('https://t4.ftcdn.net/jpg/03/61/01/89/360_F_361018944_HkcCYRsgv14bXoe8MEYxfQoZEG39rdry.jpg');
  width: 700px;
  height: 800px;
  background-repeat: no-repeat;
}