
<div class="container">
    <div class="card mb-3 div1">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body text-white">
            <h1 class="card-title">{{ userName }}</h1>
            <h2 class="card-subtitle mb-2">{{ jobTitle }}</h2>
            <button type="button" class="btn btn-outline-light" (click)="showAlert()">Contact Me</button>
          </div>
        </div>
        <div class="col-md-3">
          <img [src]="imgUrl" class="card-img" alt="User Image">
        </div>
      </div>
    </div>
  </div>
  