<!--<div class="container mt-4">
    <h2>Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 1</h5>
            <p class="card-text">Description of Project 1.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 2</h5>
            <p class="card-text">Description of Project 2.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 3</h5>
            <p class="card-text">Description of Project 3.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 4</h5>
            <p class="card-text">Description of Project 4.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 5</h5>
            <p class="card-text">Description of Project 5.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 6</h5>
            <p class="card-text">Description of Project 6.</p>
            <a href="#" class="btn btn-warning">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
-->

<div class="container mt-4">
  <h2>Projects</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let project of projectsRow1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ project.projectName }}</h5>
          <p class="card-text">{{ project.projectDescription }}</p>
          <a href="#" class="btn btn-warning">View Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let project of projectsRow2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ project.projectName }}</h5>
          <p class="card-text">{{ project.projectDescription }}</p>
          <a href="#" class="btn btn-warning">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>




          
        