
<footer class="footer mt-auto py-3" style="background-color: black; color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>thanks for reaching the end of my CV</h4>
          <p>if you want to see more about me please visit these sites</p>
        </div>
        <div class="col-md-6 text-right">
          <div class="social-icons">
            <i class="fa fa-facebook" ></i><a href="#" class="social-icon"> Facebook</a>
            <i class="fa fa-twitter"></i> <a href="#" class="social-icon"> Twitter</a>
            <i class="fa fa-linkedin"></i><a href="#" class="social-icon"> LinkedIn</a>
            <i class="fa fa-instagram"></i><a href="#" class="social-icon"> Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
